<div class="wrapper">

    <div class="blur-container" style="--blur:12vw;">

        <div class="shape"
            style="--path:polygon(50.9% 37.2%, 43.5% 34.7%, 33.6% 26.1%, 39.2% 10.8%, 26.2% 0.0%, 4.8% 6.4%, 0.0% 30.4%, 20.7% 37.2%, 33.4% 26.3%, 43.2% 34.9%, 45.0% 35.6%, 43.6% 46.4%, 37.8% 59.5%, 21.8% 63.2%, 11.7% 76.1%, 22.9% 91.3%, 47.4% 91.3%, 54.0% 79.0%, 38.0% 59.6%, 43.9% 46.4%, 45.2% 35.5%, 50.9% 37.6%, 56.1% 36.8%, 59.8% 47.6%, 70.3% 61.9%, 87.7% 56.0%, 96.4% 37.4%, 88.6% 15.1%, 63.7% 16.7%, 55.2% 33.6%, 55.9% 36.6%, 50.9% 37.2%);">
        </div>

        <div class="shape" style="--path:polygon(50.9% 37.2%, 43.5% 34.7%, 33.6% 26.1%, 39.2% 10.8%, 26.2% 0.0%, 4.8% 6.4%, 0.0% 30.4%, 20.7% 37.2%, 33.4% 26.3%, 43.2% 34.9%, 45.0% 35.6%, 43.6% 46.4%, 37.8% 59.5%, 21.8% 63.2%, 11.7% 76.1%, 22.9% 91.3%, 47.4% 91.3%, 54.0% 79.0%, 38.0% 59.6%, 43.9% 46.4%, 45.2% 35.5%, 50.9% 37.6%, 56.1% 36.8%, 59.8% 47.6%, 70.3% 61.9%, 87.7% 56.0%, 96.4% 37.4%, 88.6% 15.1%, 63.7% 16.7%, 55.2% 33.6%, 55.9% 36.6%, 50.9% 37.2%);
       --offset:180deg;
       --speed: 6000ms;
       --background: linear-gradient( cyan, blue, green, purple, cyan);
       "></div>
    </div>

    <div class="container">

        <header>

            <nav>
                <ul>
                    <li class="about-me-li"> Обо мне </li>
                    <li class="my-projects"> Мои работы </li>
                    <li class="footer"> Заключение </li>
                </ul>
            </nav>

            <div class="header-mini-details-up">

                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cpu"
                    viewBox="0 0 16 16">
                    <path
                        d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-laptop"
                    viewBox="0 0 16 16">
                    <path
                        d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                </svg>

            </div>

            <p> Привет! Я </p>

            <h1 class="main_title"> Beginner Web-Developer </h1>

            <h2 class="header-name"> Saidov Aliakbar. </h2>

            <div class="mini-details-wrappers">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-arrow_up-second" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                </svg>
            </div>
        </header>

        <section class="first_section">

            <!-- <p> В разработке : ) </p> -->

            <div class="tecno-card" role="button">

                <h2> Обо мне: </h2>

                <p class="about-me">
                    Здравствуйте! Меня зовут <strong> Алиакбар </strong>, <br> мне <strong> 14 лет </strong> , я
                    начал изучение Web'а более
                    года назад <br>
                    и за год окончил 2 курса по базовым HTML CSS <br> и курс по back-end разработке. <br>
                    Так-же, я в данный момент учу для себя новые технологии/ЯП <br> и развиваю свои знания в
                    сфере
                    back-end'а. <br>
                    Я изучал и знаю такие технологии как:
                </p>

                <ul>
                    <li> <img src="/Images/file-type-html.svg" alt="Logo" style="width: 40px;"> Html </li>
                    <li> <img src="/Images/file-type-css.svg" alt="logo" style="width: 40px;"> Css </li>
                    <li> <img src="/Images/file-type-js-official.svg" alt="Logo" style="width: 40px;">
                        JavaScript
                    </li>
                    <li> <img src="/Images/bootstrap.svg" alt="Logo" style="width: 40px;"> Bootstrap </li>
                    <li> <img src="/Images/file-type-node.svg" alt="Logo" style="width: 40px;"> Node js </li>
                    <li> <img src="/Images/express-original.svg" alt="Logo" style="width: 40px;"> Express
                    </li>
                    <li> <img src="/Images/pngwing.com.png" alt="Logo" style="width: 35px;"> PostgreSql </li>
                    <li> <img src="/Images/handlebars-js.png" alt="Logo" style="width: 60px;">
                        Express-Handlebars
                    </li>
                </ul>

                <p class="tecno-info">
                    Это еще не все технологии которых я знаю, я не упомянул другие технологии <br>
                    так как я изучаю их или не знаю их хорошо.
                </p>

            </div>

        </section>

        <section class="second-section">

            <h2> Примеры моих работ. </h2>
            <p class="second-section-info">
                Снизу предоставлены мои самые удачные верстки макетов из Figma, <br> у меня много версток но я
                оставлю
                только несколько примеров так как не все врестки идеальны. <br> К сожалению у меня пока
                нету ни
                одного back-end проекта но я работаю над этим <br> и скоро дополню этот список back-end
                проектами.
            </p>

            <!-- Slider -->

            <div class="examples-wrapper">

                <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
                <input type="radio" name="slider" title="slide2" class="slider__nav" />
                <input type="radio" name="slider" title="slide3" class="slider__nav" />
                <input type="radio" name="slider" title="slide4" class="slider__nav" />

                <div class="slider__inner">
                    <div class="example first-example slider__contents ">

                        <a href="design-for-portfolio.vercel.app" class="redirect-to-example"> <img
                                src="/Images/Безымянный 2.png" alt="Ex" role="button"> </a>
                        <h3> Инернет-магазин чемаданов. </h3>
                        <p> В данной верстке я использовал Html Css и немножко js. <br>
                            Данная верстка не имеет <br> адаптив под мобильные устройства. </p>

                    </div>

                    <div class="example slider__contents second-example">
                        <a href="design-for-tg-figma.vercel.app" class="redirect-to-example"> <img src="/Images/s.png"
                                alt="Ex" role="button"> </a>
                        <h3> About Scooter. </h3>
                        <p> В данной верстке я использовал Html и Css. <br>
                            Данная верстка также не имеет <br> адаптив под мобильные устройства. </p>
                    </div>

                    <div class="example slider__contents third-example">
                        <a href="design-for-tg.vercel.app" class="redirect-to-example"> <img src="/Images/a.png"
                                alt="Ex" role="button"> </a>
                        <h3> Data.rar. Учебный центер. </h3>
                        <p> В данной верстке я использовал Html и Css. <br>
                            Данная верстка как и другие не имеет <br> адаптив под мобильные устройства. </p>
                    </div>

                    <div class="example slider__contents fourth-example">
                        <a href="design-01-gamma.vercel.app" class="redirect-to-example"> <img src="/Images/b.png"
                                alt="Ex" role="button"> </a>
                        <h3> Aperture Studios. Компания Мобилогрофов </h3>
                        <p> В данной верстке я использовал Html и Css. <br>
                            Данная верстка как и все не имеет <br> адаптив под мобильные устройства. </p>
                    </div>

                </div>

            </div>

            <!-- Swiper end -->

        </section>

        <footer>

            <h2> Заключение. </h2>

            <p class="footer-info">
                И так, надеюсь вам понравился мое портфолио, и да в нем может быть много ошибок <br> но в дальнейшем
                я все исправлю и переделаю.
                Спасибо за внимание.
            </p>

            <img src="/Images/Rectangle.png" alt="Line" class="footer-hr">

            <div class="sm-contacts">
                <a href="https://t.me/SaidovAliakbar"> <img src="/Images/Telegram (1).png" alt="Logos" class="sm-items">
                </a>
                <a href="https://www.instagram.com/a_devv_s/"> <img src="/Images/Instagram.png" alt="Logos"
                        class="sm-items"> </a>
                <a href="https://github.com/MrRuiner"> <img src="/Images/Github.png" alt="Logos" class="sm-items">
                </a>
                <a href="https://discordapp.com/users/960061651690848276/"> <img src="/Images/Discord.png" alt="Logos"
                        class="sm-items"> </a>
            </div>

            <p class="footer-end"> © Aliakbar Saidov 2023 </p>

        </footer>

    </div>
</div>

<script>
    const button = document.querySelector('.about-me-li');
    const button2 = document.querySelector('.my-projects');
    const button3 = document.querySelector('.footer');

    const form = document.querySelector('.first_section');
    const form2 = document.querySelector('.second-section');
    const form3 = document.querySelector('footer');


    function handleButtonClick() {
        form.scrollIntoView({ block: "center", behavior: "smooth" });
    }

    function handleButtonClick2() {
        form2.scrollIntoView({ block: "center", behavior: "smooth" });
    }

    function handleButtonClick3() {
        form3.scrollIntoView({ block: "center", behavior: "smooth" });
    }

    button.addEventListener("click", handleButtonClick);
    button2.addEventListener("click", handleButtonClick2);
    button3.addEventListener("click", handleButtonClick3);

</script>